 .u-section-1 {
  background-image: url("images/photo-1497633762265-9d179a990aa6.jpeg");
  background-position: 50% 50%;
  min-height: 731px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 535px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0 60px 35px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 114px 0 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/photo-1536985576470-b7e4a0363a19.jpeg");
  background-position: 50% 50%;
  min-height: 731px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 475px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 603px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 535px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 91px;
    margin-right: -68px;
    margin-left: 11px;
  }

  .u-section-1 .u-image-1 {
    min-height: 535px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 566px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 140px;
  }

  .u-section-1 .u-image-1 {
    min-height: 671px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 75px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 433px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 688px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 -16px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 688px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 904px;
  height: 452px;
  margin: 0 auto;
}

.u-section-2 .u-group-elements-1 {
  min-height: 46px;
  width: 213px;
  height: auto;
  margin: -406px auto 0 45px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: 0 0 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: -52px 238px 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-group-elements-2 {
  min-height: 52px;
  width: 403px;
  height: auto;
  margin: 16px auto 0 45px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: 0 191px 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: -52px 43px 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-group-elements-3 {
  min-height: 52px;
  width: 318px;
  height: auto;
  margin: 16px auto 0 45px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: -52px 205px 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-group-elements-4 {
  min-height: 46px;
  width: 259px;
  height: auto;
  margin: 16px auto 0 45px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: -52px 227px 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-group-elements-5 {
  min-height: 52px;
  width: 287px;
  height: auto;
  margin: 16px auto 0 45px;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: -52px 202px 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: 16px auto 0 45px;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: -52px 201px 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: 16px auto 0 45px;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: -52px 286px 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: 16px auto 0 45px;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-16 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: -52px 237px 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-btn-17 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  font-weight: 700;
  margin: 16px auto 0 45px;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 38px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 5px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 27px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 2px;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-right: 1px;
  }

  .u-section-2 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-14 {
    margin-right: 86px;
  }

  .u-section-2 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-16 {
    margin-right: 37px;
  }

  .u-section-2 .u-btn-17 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1311px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 52px;
    width: 434px;
    margin-top: -389px;
    margin-left: 3px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 221px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 566px;
    margin-right: auto;
    margin-left: 4px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: -602px;
    margin-left: 4px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 429px;
    margin-right: auto;
    margin-left: 3px;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: -464px;
    margin-left: 4px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 291px;
    margin-right: auto;
    margin-left: 4px;
  }

  .u-section-2 .u-group-elements-4 {
    min-height: 52px;
    width: 287px;
    margin-top: -326px;
    margin-left: 4px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 153px;
    margin-right: auto;
    margin-left: 3px;
  }

  .u-section-2 .u-group-elements-5 {
    width: 325px;
    margin-top: -121px;
    margin-left: 4px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -120px;
    margin-right: auto;
    margin-left: 4px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 428px;
    margin-left: 7px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: -120px;
    margin-right: auto;
    margin-left: 6px;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 84px;
    margin-left: 7px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 16px;
    margin-right: auto;
    margin-left: 7px;
  }

  .u-section-2 .u-btn-15 {
    margin-top: 84px;
    margin-left: 3px;
  }

  .u-section-2 .u-btn-16 {
    margin-top: -120px;
    margin-right: auto;
    margin-left: 3px;
  }

  .u-section-2 .u-btn-17 {
    margin-top: 84px;
    margin-left: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-17 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 426px;
    margin-bottom: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
    margin-right: 315px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 459px;
  }

  .u-section-2 .u-group-elements-2 {
    min-height: 39px;
    margin-top: -498px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: -1px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    font-size: 0.75rem;
    margin-top: 318px;
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-2 .u-group-elements-3 {
    min-height: 39px;
    width: 251px;
    margin-top: -345px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-btn-6 {
    font-size: 0.75rem;
    margin-top: 216px;
  }

  .u-section-2 .u-group-elements-4 {
    min-height: 39px;
    width: 231px;
    margin-top: -243px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-7 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-btn-8 {
    font-size: 0.75rem;
    margin-top: 114px;
  }

  .u-section-2 .u-group-elements-5 {
    min-height: 39px;
    width: 257px;
    margin-top: -90px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-9 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-btn-10 {
    font-size: 0.75rem;
    margin-top: -90px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-11 {
    font-size: 0.75rem;
    margin-top: 318px;
  }

  .u-section-2 .u-btn-12 {
    font-size: 0.75rem;
    margin-top: -141px;
  }

  .u-section-2 .u-btn-13 {
    font-size: 0.75rem;
    margin-top: 114px;
  }

  .u-section-2 .u-btn-14 {
    font-size: 0.75rem;
    margin-top: 12px;
  }

  .u-section-2 .u-btn-15 {
    font-size: 0.75rem;
    margin-top: 63px;
  }

  .u-section-2 .u-btn-16 {
    font-size: 0.75rem;
    margin-top: -90px;
  }

  .u-section-2 .u-btn-17 {
    font-size: 0.75rem;
    margin-top: 63px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 242px;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 60px auto;
}